@using FrontEnd.Features.Category.StateManagment.Actions.TongleCategoryActions;
@using SharedModels.Models.RespondModels.Response;
@inject IDispatcher Dispatcher
@inject IState<CategoryState> CategoryState

@inherits Fluxor.Blazor.Web.Components.FluxorComponent


@if (categories != null && categories.Any())
{
    <ul>
        @foreach (var category in categories)
        {
                <li>
                    <p>@category.Name</p>

                    <button @onclick="() => ToggleCategory(category)">▼</button>
                    @if (category.IsVisible)
                    {
                    <CategoryListComponent categories="category.SubCategories" />
                    }
                    else
                    {
                    var a = 1;
                    <CategoryListComponent categories="null" />
                    }
                </li>
        }
    </ul>
}