/* /Features/Category/Component/CategoriesModalComponent.razor.rz.scp.css */
form[b-xmzkfo1mix] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px
}

.categoryName[b-xmzkfo1mix], .parentCategoryId[b-xmzkfo1mix] {
    border-radius: 10px;
    border-color: green
}

.categoryName[b-xmzkfo1mix], .categoryName[b-xmzkfo1mix]::placeholder, .parentCategoryId[b-xmzkfo1mix], .parentCategoryId[b-xmzkfo1mix]::placeholder {
    font-size: 16px;
    padding: 2px 7px 2px 7px;
}

.categoryName[b-xmzkfo1mix]::placeholder, .parentCategoryId[b-xmzkfo1mix]::placeholder {
    color: dimgrey
}

.send_btn[b-xmzkfo1mix] {
    border-radius: 10px;
    border: none;
    background-color: forestgreen;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0 5px 0
}
/* /Features/Category/Component/CategoryListComponent.razor.rz.scp.css */
ul[b-rh4henzwph] {
    list-style: initial;
}
.category__ul[b-rh4henzwph]{
    display:flex;
    flex-direction:column;
}
.category__li[b-rh4henzwph] {
    line-height: 0.5;
}
.category__li__content[b-rh4henzwph] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.category__li__info[b-rh4henzwph] {
    display: flex;
    flex-direction: column;
}


.category__li__name[b-rh4henzwph] {
    font-size: 16px;
    font-weight: 500;
    color: dimgray;
    margin: 1em 0 0.2em 0
}
.category__li__name__value[b-rh4henzwph]{
    color:black;
    font-weight:700;
    text-decoration:underline
}
.category__li__subInfo[b-rh4henzwph] {
    opacity: 0.6;
    font-size: 12px;
    font-weight: 500;
    color: dimgray;
    margin: 0.2em 0 1em 0.5em
}

.category__li__subInfo__value[b-rh4henzwph] {
    color: black;
    font-weight: 700;
    margin-right: 0.5em
}
.category__toggleBtn[b-rh4henzwph], .category__editBtn[b-rh4henzwph] {
    background-color: transparent;
    border: none
}
.category__loadGoods[b-rh4henzwph] {
    border-radius: 10px;
    border: none;
    background-color: forestgreen;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 5px
}
/* /Features/Goods/Component/DialogModalComponent.razor.rz.scp.css */
form[b-j3l9ln6tmy] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px
}
.send_btn[b-j3l9ln6tmy] {
    border-radius: 10px;
    border: none;
    background-color: forestgreen;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0 5px 0
}
/* /Features/Goods/Component/GoodsModalComponent.razor.rz.scp.css */
form[b-udb501ul69] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px
}

input[b-udb501ul69] {
    border-radius: 10px;
    border-color: green
}

input[b-udb501ul69], input[b-udb501ul69]::placeholder {
    font-size: 16px;
    padding: 2px 7px 2px 7px;
}

input[b-udb501ul69]::placeholder, {
    color: dimgrey
}

.send_btn[b-udb501ul69] {
    border-radius: 10px;
    border: none;
    background-color: forestgreen;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0 5px 0
}
/* /Features/Goods/Component/GoodsTableComponent.razor.rz.scp.css */
table[b-8q1koh8zeh] {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

th[b-8q1koh8zeh], td[b-8q1koh8zeh] {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th[b-8q1koh8zeh] {
    background-color: #f2f2f2;
}
tr:nth-child(even)[b-8q1koh8zeh] {
    background-color: #f9f9f9;
}
.button__cell[b-8q1koh8zeh]{
    padding:4px;
}
.good__editBtn[b-8q1koh8zeh], .good__deleteBtn[b-8q1koh8zeh]{
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 5px
}
.good__deleteBtn[b-8q1koh8zeh] {
    background-color: transparent;
    border:none;
    font-size:28px
}
.good__addBtn[b-8q1koh8zeh] {
    border-radius: 10px;
    border: none;
    background-color: forestgreen;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 5px, 20px, 5px, 20px
}
/* /Shared/Components/ModalComponent.razor.rz.scp.css */
.modal[b-xb3t9zv63l] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.modal-overlay[b-xb3t9zv63l] {
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.modal-content[b-xb3t9zv63l] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal-open[b-xb3t9zv63l] {
    overflow: hidden;
}
.close[b-xb3t9zv63l] {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px
}
/* /Shared/Pages/Index.razor.rz.scp.css */
.content[b-peepq42o1s] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 5px
}
.categories__block[b-peepq42o1s] {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid black;
    padding: 5px;
    min-width: 20%;
    height: 100%;
}
.categories__add[b-peepq42o1s]{
    border-radius:10px;
    border:none;
    background-color:forestgreen;
    color:black;
    font-weight:700;
    font-size:16px;
    padding: 5px 0 5px 0
}
.goods__block[b-peepq42o1s] {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70%;
    gap:40px;
    padding-top:30px
}
