/* /Features/Category/Component/CategoryListComponent.razor.rz.scp.css */
ul[b-rh4henzwph] {
    list-style: initial;
}
.category__ul[b-rh4henzwph]{
    display:flex;
    flex-direction:column;
}
.category__li[b-rh4henzwph] {
    line-height: 0.5;
}
.category__li__content[b-rh4henzwph] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}
.category__li__info[b-rh4henzwph] {
    display: flex;
    flex-direction: column;
}


.category__li__name[b-rh4henzwph] {
    font-size: 16px;
    font-weight: 500;
    color: dimgray;
    margin: 1em 0 0.2em 0
}
.category__li__name__value[b-rh4henzwph]{
    color:black;
    font-weight:700
}
.category__li__subInfo[b-rh4henzwph] {
    opacity: 0.6;
    font-size: 12px;
    font-weight: 500;
    color: dimgray;
    margin: 0.2em 0 1em 0.5em
}

.category__li__subInfo__value[b-rh4henzwph] {
    color: black;
    font-weight: 700;
    margin-right: 0.5em
}
.category__toggleBtn[b-rh4henzwph], .category__editBtn[b-rh4henzwph] {
    background-color: transparent;
    border: none
}
/* /Features/Category/Component/CategoryModalComponent.razor.rz.scp.css */
form[b-fplftjgjne]{
    display:flex;
    flex-direction:column;
    gap:30px;
    padding: 20px
}
.categoryName[b-fplftjgjne], .parentCategoryId[b-fplftjgjne] {
    border-radius: 10px;
    border-color: green
}
.categoryName[b-fplftjgjne], .categoryName[b-fplftjgjne]::placeholder, .parentCategoryId[b-fplftjgjne], .parentCategoryId[b-fplftjgjne]::placeholder {
    font-size: 16px;
    padding: 2px 7px 2px 7px;
}
.categoryName[b-fplftjgjne]::placeholder, .parentCategoryId[b-fplftjgjne]::placeholder{
    color:dimgrey
}
.add_bnt[b-fplftjgjne] {
    border-radius: 10px;
    border: none;
    background-color: forestgreen;
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0 5px 0
}
/* /Shared/Components/ModalComponent.razor.rz.scp.css */
.modal[b-xb3t9zv63l] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.modal-overlay[b-xb3t9zv63l] {
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.modal-content[b-xb3t9zv63l] {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal-open[b-xb3t9zv63l] {
    overflow: hidden;
}
.close[b-xb3t9zv63l] {
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px
}
/* /Shared/Pages/Index.razor.rz.scp.css */
.content[b-peepq42o1s] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 5px
}
.categories__block[b-peepq42o1s] {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-right: 1px solid black;
    padding: 5px;
    min-width: 20%;
    height: 100%;
}
.categories__add[b-peepq42o1s]{
    border-radius:10px;
    border:none;
    background-color:forestgreen;
    color:black;
    font-weight:700;
    font-size:16px;
    padding: 5px 0 5px 0
}
