@page "/"
@using FrontEnd.Features.Category.Actions;
@inject IState<CategoryState> CategoryState
@inject IDispatcher Dispatcher
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>Categories</PageTitle>

@if (CategoryState.Value.IsLoading)
{
    <p>
        <em >123...</em>
    </p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var category in CategoryState.Value.Categories)
            {
                @* code removed for brevity *@
                <tr>
                    <td>@category.ParentCategoryId</td>
                    <td>@category.Name</td>
                    <td>@category.CountGoods</td>
                </tr>
            }
        </tbody>
    </table>
}
@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new CategoryAction());
    }
}